extends ../layout

block content
    h1 Add Manufacturer
    form.user_input(action='/manufacturer', method='post')
        label(for='manufacturer_name')
            span Name the manufacturer
            input(type='text', name='manufacturer_name', id='manufacturer_name', required='true')

        label(for='headoffice')
            span Headoffice
            input(type='text', name='headoffice', id='headoffice', required='true')

        label(for='adress')
            span Adress
            input(type='text', name='adress', id='adress', required='true')

        label.control-label(for='submit')
            span
            input(type='submit', id='submit', value='Save')